* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Poppins", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    /* width: 80%; */
    padding: 0 100px 0 100px;
}

.header {
    position: sticky;
}

.contact {
    display: flex;
    gap: 10px;
}

nav {
    position: relative;
    margin-left: 500px;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    align-items: center;
}

.dash {
    background-color: black;
    height: 20px;
    width: 1px;
}

.first-section-main {
    padding: 0 100px 0 100px;
}

.first-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 150px; */
    /* padding: 0 100px 0 100px; */

}

h1 {
    font-size: 60px;
}

.btn {
  background: #ffae4c;
  background-image: -webkit-linear-gradient(top, #ffae4c, #ff6333);
  background-image: -moz-linear-gradient(top, #ffae4c, #ff6333);
  background-image: -ms-linear-gradient(top, #ffae4c, #ff6333);
  background-image: -o-linear-gradient(top, #ffae4c, #ff6333);
  background-image: linear-gradient(to bottom, #ffae4c, #ff6333);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: "Poppins", serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #ff6333;
  background-image: -webkit-linear-gradient(top, #ff6333, #ffcb3b);
  background-image: -moz-linear-gradient(top, #ff6333, #ffcb3b);
  background-image: -ms-linear-gradient(top, #ff6333, #ffcb3b);
  background-image: -o-linear-gradient(top, #ff6333, #ffcb3b);
  background-image: linear-gradient(to bottom, #ff6333, #ffcb3b);
  text-decoration: none;
}

a:hover {
    color: #ff6333;
}

.open {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    /* padding: 0 100px 0 100px; */
}

.open-text {
    color: #787878;
}

.second-section {
    background-color: #E2E6E9;
    /* width: 100%; */
    margin-top: 30px;
    display: flex;
    max-width: 100%;
    padding: 100px;
}

.service-1 {
    display: flex;
    padding-bottom: 20px;
}

.service-2 {
    display: flex;
    padding-bottom: 20px;
}

.service-3 {
    display: flex;
}

.service-1 img {
    background-size: 10px;
}

h4 {
    font-size: 50px;
}

input {
    display: flex;
    padding: 15px;
    border: #787878 solid 2px;
    margin: 10px;
    border-radius: 5px;
    margin-left: 0;
    width: 500px;

}

.service-section {
    width: 50%;

}

.form-section {
    width: 50%;
    font-family: "Poppins", serif;
    padding: 10px;
}

.form-section button {
    margin-top: 30px;
}

.know-more {
    display: flex;
    color: black;
    margin-top: 10px;
    gap: 20px;
    font-weight: 600;
    padding-left: 45px;
}


.third-section {
    display: flex;
    max-width: 100%;
    padding: 100px;
}

.third-section-1 {
    width: 50%;
}

.third-section-2 {
    width: 50%;
    margin: 20px;
}

.third-section-2-1 {
    display: flex;
    background-size: 20px;
    gap: 20px;   
}